# Day05 : 제어문의 활용2

In [27]:
# 다중 for loop : 구구단
for i in range(2, 10):
    for j in range(1,10):
        print("{0:3d} * {1:3d} = {2:3d}".format(i,j,i*j))
    print("")

# 다중 for loop : 구구단2
for i in range(2, 10, 2):
    print("       %d단           %d단"%(i, i+1))
    for j in range(1,10):
        print("{0:2d} * {1:2d} = {2:2d}    {3:2d} * {4:2d} = {5:2d}".format(i,j,i*j, i+1, j, (i+1)*j))
    print("")

  2 *   1 =   2
  2 *   2 =   4
  2 *   3 =   6
  2 *   4 =   8
  2 *   5 =  10
  2 *   6 =  12
  2 *   7 =  14
  2 *   8 =  16
  2 *   9 =  18

  3 *   1 =   3
  3 *   2 =   6
  3 *   3 =   9
  3 *   4 =  12
  3 *   5 =  15
  3 *   6 =  18
  3 *   7 =  21
  3 *   8 =  24
  3 *   9 =  27

  4 *   1 =   4
  4 *   2 =   8
  4 *   3 =  12
  4 *   4 =  16
  4 *   5 =  20
  4 *   6 =  24
  4 *   7 =  28
  4 *   8 =  32
  4 *   9 =  36

  5 *   1 =   5
  5 *   2 =  10
  5 *   3 =  15
  5 *   4 =  20
  5 *   5 =  25
  5 *   6 =  30
  5 *   7 =  35
  5 *   8 =  40
  5 *   9 =  45

  6 *   1 =   6
  6 *   2 =  12
  6 *   3 =  18
  6 *   4 =  24
  6 *   5 =  30
  6 *   6 =  36
  6 *   7 =  42
  6 *   8 =  48
  6 *   9 =  54

  7 *   1 =   7
  7 *   2 =  14
  7 *   3 =  21
  7 *   4 =  28
  7 *   5 =  35
  7 *   6 =  42
  7 *   7 =  49
  7 *   8 =  56
  7 *   9 =  63

  8 *   1 =   8
  8 *   2 =  16
  8 *   3 =  24
  8 *   4 =  32
  8 *   5 =  40
  8 *   6 =  48
  8 *   7 =  56
  8 *   8 =  64
  8 *   9 =  72

  9 *   1 =   9
  9 *   2 =  18
  9 *   3 =  27
  9 *   4 =  36
  9 *   5 =  45
  9 *   6 =  54
  9 *   7 =  63
  9 *   8 =  72
  9 *   9 =  81

       2단           3단
 2 *  1 =  2     3 *  1 =  3
 2 *  2 =  4     3 *  2 =  6
 2 *  3 =  6     3 *  3 =  9
 2 *  4 =  8     3 *  4 = 12
 2 *  5 = 10     3 *  5 = 15
 2 *  6 = 12     3 *  6 = 18
 2 *  7 = 14     3 *  7 = 21
 2 *  8 = 16     3 *  8 = 24
 2 *  9 = 18     3 *  9 = 27

       4단           5단
 4 *  1 =  4     5 *  1 =  5
 4 *  2 =  8     5 *  2 = 10
 4 *  3 = 12     5 *  3 = 15
 4 *  4 = 16     5 *  4 = 20
 4 *  5 = 20     5 *  5 = 25
 4 *  6 = 24     5 *  6 = 30
 4 *  7 = 28     5 *  7 = 35
 4 *  8 = 32     5 *  8 = 40
 4 *  9 = 36     5 *  9 = 45

       6단           7단
 6 *  1 =  6     7 *  1 =  7
 6 *  2 = 12     7 *  2 = 14
 6 *  3 = 18     7 *  3 = 21
 6 *  4 = 24     7 *  4 = 28
 6 *  5 = 30     7 *  5 = 35
 6 *  6 = 36     7 *  6 = 42
 6 *  7 = 42     7 *  7 = 49
 6 *  8 = 48     7 *  8 = 56
 6 *  9 = 54     7 *  9 = 63

       8단           9단
 8 *  1 =  8     9 *  1 =  9
 8 *  2 = 16     9 *  2 = 18
 8 *  3 = 24     9 *  3 = 27
 8 *  4 = 32     9 *  4 = 36
 8 *  5 = 40     9 *  5 = 45
 8 *  6 = 48     9 *  6 = 54
 8 *  7 = 56     9 *  7 = 63
 8 *  8 = 64     9 *  8 = 72
 8 *  9 = 72     9 *  9 = 81

### 기본 구조

In [26]:
# 리스트 생성 1 [] 사용 : 직접 입력
lst_a = [1,2,3]
print(lst_a)
type(lst_a)

[1, 2, 3]

list

In [25]:
# 리스트 생성 2 [] 사용 : range 사용
lst_b = list(range(4))
print(lst_b)
type(lst_b)

[0, 1, 2, 3]

list

In [28]:
person = ['홍길동', 19, 181.5, True]
print(person)

['홍길동', 19, 181.5, True]

In [38]:
print(person[0:3])
print(person[0:3:2]) # 2번 인덱스 제외

['홍길동', 19, 181.5]
['홍길동', 181.5]

In [43]:
lst_a = []
lst_a.append("한국아이티"); print(lst_a)

['한국아이티']

In [46]:
lst_a.append("259-2800"); print(lst_a)

['한국아이티', '259-2800', '259-2800', '259-2800']

In [48]:
lst_a.append("학원"); print(lst_a)

['한국아이티', '259-2800', '259-2800', '259-2800', '학원', '학원']

In [49]:
lst_a.sort(); print(lst_a)

['259-2800', '259-2800', '259-2800', '학원', '학원', '한국아이티']

In [51]:
# 튜플 생성
t1 = ("이름", "학과", "학번", "주소")
print(t1)

('이름', '학과', '학번', '주소')

In [52]:
type(t1)

tuple

In [57]:
print(t1[0:2])
print(t1[0:3:2])

('이름', '학과')
('이름', '학번')

In [59]:
t1[4] = "전번"

TypeError: 'tuple' object does not support item assignment

In [60]:
t1.append("전번")

AttributeError: 'tuple' object has no attribute 'append'

In [62]:
lst1 = list(t1)
print(lst1)

['이름', '학과', '학번', '주소']

In [63]:
lst1.append("전번")
print(lst1)

['이름', '학과', '학번', '주소', '전번']

In [64]:
t2 = tuple(lst1)
print(t2)

('이름', '학과', '학번', '주소', '전번')

In [77]:
dic3 = {'name':'홍길동', 'phone':'010-1234-5678', 'addr':'청주시 상당구'}
print(dic3)

{'name': '홍길동', 'phone': '010-1234-5678', 'addr': '청주시 상당구'}

In [80]:
print(dic3['name'])
print(dic3)

홍길동
{'name': '홍길동', 'phone': '010-1234-5678', 'addr': '청주시 상당구'}

In [81]:
print(dic3['phone'])
print(dic3)

010-1234-5678
{'name': '홍길동', 'phone': '010-1234-5678', 'addr': '청주시 상당구'}

In [82]:
dic4 = {'name':'홍길동', 'phone':'010-1234-5678', 'addr':'청주시 상당구'}
print(dic4)

{'name': '홍길동', 'phone': '010-1234-5678', 'addr': '청주시 상당구'}

In [84]:
print(dic4['name'])

홍길동

In [87]:
print(dic4.get('name'))

홍길동

In [88]:
print(dic4.keys())

dict_keys(['name', 'phone', 'addr'])

In [89]:
print(dic4.values())

dict_values(['홍길동', '010-1234-5678', '청주시 상당구'])

In [91]:
print(dic4.items())

dict_items([('name', '홍길동'), ('phone', '010-1234-5678'), ('addr', '청주시 상당구')])

In [92]:
dic1.clear()
print(dic1)

{}

In [94]:
print('이름' in dic4)

False

In [95]:
dic4['name'] = '성춘향'
print(dic4)

{'name': '성춘향', 'phone': '010-1234-5678', 'addr': '청주시 상당구'}

In [98]:
dic4['birh'] = '2020.5.1'
print(dic4)

{'name': '성춘향', 'phone': '010-1234-5678', 'addr': '청주시 상당구', 'birh': '2020.5.1'}

In [100]:
dic4.pop('phone')
print(dic4)

{'name': '성춘향', 'addr': '청주시 상당구', 'birh': '2020.5.1'}

In [107]:
s1 = set('hellokoreafreinds')
print(s1)
s2 = set([1,2,3])
print(s2)

{'a', 'n', 'i', 'o', 'r', 'e', 'l', 'd', 'k', 'h', 's', 'f'}
{1, 2, 3}

In [109]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [111]:
print(s1 & s2)
print(s1 | s2)
print(s1 - s2)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [115]:
s3 = {1,2,3}
s3.update([4,5])
print(s3)

{1, 2, 3, 4, 5}

In [118]:
s3.remove(4)
print(s3)

KeyError: 4

In [119]:
print(s3)

{1, 2, 3, 5}

In [120]:
a = [10, 20, 30]
a.index(20)

1

In [122]:
print(a[1])

20