# 3일차 수업 : 들여쓰기, 변수, 입력함수, 출력함수 등

In [15]:
# 파이썬에서 들여쓰기는 문법사항
# 필요한 곳에서 하지 않으면 오류발생

if 5 > 10 :
print("5는 10보다 크다")

IndentationError: expected an indented block (<ipython-input-15-7a1a4ccfe657>, line 5)

  - 들여쓰기는 '탭' 또는 '공백 띄어쓰기 4번'이 있으나 공백 4번 띄어쓰는 것을 권고

In [19]:
if 5 > 10 :
    print("5는 10보다 크다")  
    print("***************")
    print("프로그램이 종료되었습니다.")

In [17]:
if 5 < 10 :
    print("5는 10보다 크다")  
    print("***************")
    print("프로그램이 종료되었습니다.")

5는 10보다 크다
***************
프로그램이 종료되었습니다.

  - 같은 블록은 들여쓰기 칸 수가 같아야 하고, 공백과 탭 문자를 섞어쓰면 안됨

In [21]:
A = 100
print(A)

100

  - 변수 이름은 원하는 대로 지으면 되지만 다음과 같은 규칙을 지켜야 한다.  
   * 영문 문자와 숫자를 사용할 수 있다.
   * 대소문자를 구분한다.
   * 문자부터 시작해야 하며 숫자부터 시작하면 안된다.
   * '_'(밑줄 문자)로 시작할 수 있다.
   * 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없다.
   * 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없다.

In [22]:
birthYear = 2005
age = 2021 - birthYear
print(age)

16

  - 타입 : 숫자(정수형, 실수형), 문자(열), Boolean
  - 다른 언어의 경우에는 변수의 값에 따라 타입이 나누어지지만 파이썬은 사용하는 함수에 따라 타입이 달라짐
  (데이터 모양에 따라 바뀌는 것임)

In [59]:
numberInt = 100 # 정수형 타입
numberFloat = 1.234 # 실수형
varChar = 'A' # 문자열
varStr = 'Korea' # 문자열
valBool = True # Boolean

In [60]:
# 파이썬에는 type()함수가 있어서 data type를 확인할 수 있음
type(numberInt)

int

In [49]:
type(numberFloat)

float

In [50]:
type(varChar)

str

In [51]:
type(varStr)

str

In [52]:
type(valBool)

bool

In [61]:
print(type(numberInt))
print(isinstance(numberInt, int))

<class 'int'>
True

In [66]:
# 입력함수 input()
birthYear = input("태어난 해를 입력하세요 : ")
age = 2021 - birthYear
print(age)

태어난 해를 입력하세요 : 2005

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [69]:
# 입력함수 input()
birthYear = input("태어난 해를 입력하세요 : ")
type(birthYear)
#age = 2021 - birthYear
#print(age)

태어난 해를 입력하세요 : 2005

str

In [73]:
# 입력함수 input()
birthYear = int(input("태어난 해를 입력하세요 : ")) # str타입을 int 타입으로 바꾸기
type(birthYear)

태어난 해를 입력하세요 : 2005

int

In [72]:
# 입력함수 input()
birthYear = int(input("태어난 해를 입력하세요 : ")) # str타입을 int 타입으로 바꾸기

age = 2021 - birthYear
print(age)

태어난 해를 입력하세요 : 2005
16

In [75]:
print("korea"+"IT")

koreaIT

In [84]:
print("age"+10)

TypeError: can only concatenate str (not "int") to str

In [85]:
print("age :", 10)

age : 10

In [86]:
print("age :")
print(10)

age :
10

In [88]:
print("age"+"6")

age6

In [93]:
print("Korea"*3)

KoreaKoreaKorea

In [98]:
print("%d"%10)

10

In [99]:
print("age : %d세"%10)

age : 10세

In [106]:
print("age :", 10, "세")
print("age : %d세"%10)

age : 10 세
age : 10세

In [109]:
print("age : ", 10, "세", sep="")
print("age : %d세"%10)

age : 10세
age : 10세

In [110]:
print("age : ", 10, "세", sep="", end="")
print("age : %d세"%10)

age : 10세age : 10세

In [112]:
print("age : ", 10, "세", sep="", end="\t")
print("age : %d세"%10)

age : 10세	age : 10세

In [115]:
print("age : ", 10, "세", sep="", end="/")
print("age : %d세"%10)

age : 10세/age : 10세

In [138]:
print("%d %f %s"%(10, 3.14, "korea"))

10 3.140000 korea

In [136]:
print("%010d %4.5f %s"%(10, 3.14, "korea"))

0000000010 3.14000 korea

In [140]:
print(not(10<20))

False

In [141]:
# 진법
print(bin(5))

0b101

In [143]:
print(oct(13))

0o15

In [145]:
print(hex(23))

0x17